/* Landing-page Style */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
}

.showcase {
    background: url('./Assets/Image.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    padding-bottom: 30px;
}

.btn-signin {
    font-size: 1em;
    color: #fff;
    background-color: #e50914;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.header-content {
    display: block;
    text-align: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
    height: 65vh;
    
}

.header-content h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.input-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-color: #000;
}

input[type="email"] {
    padding: 10px;
    font-size: 1em;
    width: 70%;
    max-width: 500px;
    border: none;
    border-radius: 3px;
}

.btn-get-started {
    padding: 10px;
    font-size: 1em;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: -3px;
    border-radius: 3px;
}

/* Movies Section */
.movies-section {
    padding: 20px;
    margin-top: 20px;
}

.movies-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.movies-section .select {
    color: #000;
    text-decoration: none
}

.movies-container {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    position: relative;
}

.movies-row {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.movie {
    min-width: 200px;
    margin-right: 10px;
    transition: transform 0.2s;
}

.movie img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.movie img:hover {
    transform: scale(1.1);
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(223, 217, 217, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 15px;
    cursor: pointer;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.movie-content {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
    height: 50vh;
    
}

.movie-content h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.movie-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.input-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="email"] {
    padding: 10px;
    font-size: 1em;
    width: 70%;
    max-width: 500px;
    border: none;
    border-radius: 3px;
}

.btn-get-started {
    padding: 10px;
    font-size: 1em;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: -3px;
    border-radius: 3px;
}

/* More Reasons to Join Netflix Section */
.reasons-to-join {
    padding: 50px 20px;
    margin: 10px 30px;
    text-align: center;
    background-color: #000;
}

.reasons-to-join h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-align: left ;
}

.reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px 20px;
}

.reason-card {
    background-color: #222;
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.reason-card:hover {
    transform: translateY(-10px);
}

.reason-card img {
    width: 100%;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.reason-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.reason-card p {
    font-size: 1em;
    color: #b3b3b3;
}

/* FAQ Section */
.faq-section {
    padding: 50px 20px;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
}

.faq-section h2 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 40px;
}

.faq-container {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

.faq-item {
    border-bottom: 1px solid #555;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #444;
}

.toggle-icon {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #222;
    padding: 0 20px;
}

.faq-answer p {
    margin: 20px 0;
    font-size: 1em;
    color: #ccc;
}

/* Footer Styles */
footer {
    padding: 30px 20px;
    margin: 0 auto;
    background-color: #141414;
    text-align: left;
    align-items: end;
    color: #737373;
}

footer p {
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-links ul li {
    width: 25%;
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #757575;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.footer-language select {
    background-color: #141414;
    color: #757575;
    border: 1px solid #333;
    padding: 5px;
    cursor: pointer;
}

.footer-language select:focus {
    outline: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header-content h1 {
        font-size: 2.5em;
    }

    .movie-content h1 {
        font-size: 2.5em;
    }        

    .movies-section h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 576px) {
    .header-content h1 {
        font-size: 2em;
    }

    .movie-content h1 {
        font-size: 2em;
    }

    .movies-section h2 {
        font-size: 1.2em;
    }

    .movie {
        min-width: 150px;
    }

    .scroll-btn {
        font-size: 1.5em;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .reasons-to-join h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 576px) {
    .reasons-to-join h2 {
        font-size: 1.8em;
    }
}